{% extends 'core/base.html' %}
{% load humanize %}
{% load static %}
{% block content %}
    <div id="content-page" class="content-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 row m-0 p-0">
                    <div class="col-sm-12">
                        <div id="post-modal-data"
                             class="iq-card iq-card-block iq-card-stretch iq-card-height">
                            <div class="iq-card-header d-flex justify-content-between">
                                <div class="iq-header-title">
                                    <h4 class="card-title">Create Post</h4>
                                </div>
                            </div>
                            <form class="post-text ml-3 w-100" action=".">
                                <input type="text" v-model="message" class="form-control rounded" placeholder="Write something here..." style="border:none;">
                            </form>
                            <button type="submit" @click.prevent="submitData()" class="btn btn-primary d-block w-100 mt-3">Post</button>
                        </div>
                    </div>
                    <div class="col-sm-12" :key="i.id" v-for="i in posts">
                        <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                            <div class="iq-card-body">
                                <div class="user-post-data">
                                    <div class="d-flex flex-wrap">
                                         <div class="media-support-user-img mr-3">
                                            <img class="img-fluid rounded-circle mr-3"
                                                 :src="i.avatar" alt=""/>
                                        </div>
                                        <div class="media-support-info mt-2">
                                            <h5 class="mb-0 d-inline-block">
                                                <a href="#" class="">{{ i.username }}</a>
                                                <a href="#" class="">[[ i.username ]]</a>
                                            </h5>
                                            <p class="mb-0 text-primary">{{ i.created_at }}</p>
                                            <p class="mb-0 text-primary">[[ i.created_at ]]</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-3">
{#                                    <p>{{ i.post_body }}</p>#}
                                    <p>[[ i.post_body ]]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for i in posts %}
                        <div class="col-sm-12">
                            <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                                <div class="iq-card-body">
                                    <div class="user-post-data">
                                        <div class="d-flex flex-wrap">
                                            {% if i.created_by.userprofile.avatar %}
                                                <div class="media-support-user-img mr-3">
                                                    <img class="img-fluid rounded-circle mr-3"
                                                         src="{{ i.created_by.userprofile.avatar.url }}" alt=""/>
                                                </div>
                                            {% endif %}
                                            <div class="media-support-info mt-2">
                                                <h5 class="mb-0 d-inline-block">
                                                    <a href="#" class="">{{ i.created_by.username }}</a>
                                                </h5>
                                                <p class="mb-0 d-inline-block">Add New Post</p>
                                                <p class="mb-0 text-primary">{{ i.created_at|naturaltime }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <p>{{ i.body }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
                {% comment %} <div class="col-sm-12 text-center">
                    <img src="{% static 'images/page-img/page-load-loader.gif' %}" alt="loader" style="height: 100px"/>
                </div>{% endcomment %}
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        var getStatus = {
            delimiters: ['[[',']]'],
            data() {
                return {
                    posts:[],
                    message: "",
                    created_by: '{{ username }}',
                    created_at: 'now',
                    'avatar': '{% if request.user.userprofile.avatar %}{{ request.user.userprofile.avatar.url }}{% endif %}'
                };
            },
            methods: {
                submitData() {

                    if (this.message.length > 0) {
                        var post_dict = {
                            'post_body': this.message,
                            'username': this.created_by,
                            'created_at': this.created_at,
                            'avatar': this.avatar
                        }
                        this.posts.unshift(post_dict);

                    }
                    console.log("here we go",post_dict)

                    this.message = '';
                    fetch('/api/add_post/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        credentials: 'same-origin',
                        body: JSON.stringify(post_dict),

                    })
                        .then((response) => {
                                console.log(response)

                            }
                        )
                        .catch((error) => {
                            console.log(error)
                        })
                },
            },
        };

        Vue.createApp(getStatus).mount("#content-page");
    </script>

{% endblock %}

